.navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px;
    background-color: grey;
    color: aqua;
    justify-content: space-between;
    z-index: 999;
}